GITLAB_SMTP_USER=
GITLAB_SMTP_PASSWORD=

# Airflow
AIRFLOW_UID=50000
AIRFLOW_DOMAIN=airflow.local
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW__API_AUTH__JWT_SECRET=
