# GitLab 서버 접속 정보
GITLAB_HOSTNAME=192.168.x.x
GITLAB_HTTP_PORT=8929
GITLAB_SSH_PORT=2222
GITLAB_ROOT_PASSWORD=

# 이메일 설정 (선택사항)
# GITLAB_SMTP_HOST=smtp.example.com
# GITLAB_SMTP_USER=user@example.com
# GITLAB_SMTP_PASSWORD=
# GITLAB_SMTP_DOMAIN=example.com
